root = true

[*.java]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = tab
indent_brace_style = K&R
tab_width = 4
charset = utf-8
trim_trailing_whitespace = false
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = outside
